<%- include('partials/header'); -%>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        <h3 class="webportal"><img class="logo" src="/assets/images/logo.png" alt="SadbhawnaLogo" width="50"
            height="60">Sadbhawna</h3>
        <p class="blue-text">Action speaks louder than words</p>
        <div class="card">
          <h5 class="text-center mb-4"><u>Detail's of the Resource provider with the description of the Resources</u>
          </h5>

          <div class="card">
            <h4 align="center">EXAMPLE</h4>
            <span style="align-self: flex-start;"><strong>Condition/Description of the Items:</strong></span>
            <p class="align:left">
              <strong>Provider: John Doe <br>
                <strong>Description: Medicines,Supplements etc<br>
                  <strong>Rating:&nbsp;&nbsp;</strong> 9
            </p>

            <!-- Button trigger modal -->
            <div class="row justify-content-center">
              <div class="form-group col-md-5"> <a class="btn btn-primary" data-toggle="modal"
                  data-target="#modal-det-user-test">Contact-Details</a> </div>
            </div>

            <!-- Modal for the contact-details-->
            <div class="modal fade " id="modal-det-user-test" tabindex="-1" role="dialog" aria-labelledby="detailsTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deteModalLongTitle">Contact-Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <strong>State:</strong>&nbsp;&nbsp;Madhya Pradesh<br>
                    <strong>City/Town:</strong>&nbsp;&nbsp;Indore<br>
                    <strong>District:</strong>&nbsp;&nbsp;Indore<br>
                    <strong>Pin-Code:</strong>&nbsp;&nbsp;451010<br>
                    <strong>Email-Address:</strong>&nbsp;&nbsp;test@example.com<br>
                    <strong>Contact-No:</strong>&nbsp;&nbsp;9999988888<br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <% newItemsList.forEach(function(item){ %>
            <div class="card">
              <span style="align-self: flex-start;"><strong>Condition/Description of the Items:</strong></span>
              <p class="align:left">
                <strong>Provider: </strong>
                <%=item.name%><br>
                  <strong>Description:</strong>
                  <%=item.description%><br>
                    <strong>Rating:&nbsp;&nbsp;</strong>
                    <%=item.rating%>
              </p>

              <!-- Button trigger modal -->
              <div class="row justify-content-center">
                <div class="form-group col-md-5"> <a class="btn btn-primary" data-toggle="modal"
                    data-target="#modal-det-user-<%= item._id %>">Contact-Details</a> </div>
              </div>

              <!-- Modal for the contact-details-->
              <div class="modal fade " id="modal-det-user-<%= item._id %>" tabindex="-1" role="dialog"
                aria-labelledby="detailsTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deteModalLongTitle">Contact-Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <strong>State:</strong>&nbsp;&nbsp;<%=item.state%><br>
                        <strong>City/Town:</strong>&nbsp;&nbsp;<%=item.city%><br>
                          <strong>District:</strong>&nbsp;&nbsp;<%=item.district%><br>
                            <strong>Pin-Code:</strong>&nbsp;&nbsp;<%=item.pincode%><br>
                              <strong>Email-Address:</strong>&nbsp;&nbsp;<%=item.email%><br>
                                <strong>Contact-No:</strong>&nbsp;&nbsp;<%=item.contact%><br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>


              <form class="form-inline my-2 my-lg-0" action="/resource/donate">
                <button class="btn btn-outline-success my-2 my-sm-0 but-nav" type="submit"
                  style="margin-left:auto; ">Donate If you have the resources</button>
              </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer'); -%>